/*

* Override Pages default styles or create your own styles here

*/
input[type=submit] {
  -webkit-appearance: button;
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: normal;
letter-spacing: 0.01em;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-font-feature-settings: "kern" 1;
-moz-font-feature-settings: "kern" 1;
margin-bottom: 0;
border: 1px solid #f2f4f5;
text-align: center;
vertical-align: middle;
cursor: pointer;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
background-image: none !important;
color: #7a8994;
background-color: #fff;
text-shadow: none;
box-shadow: none;
line-height: 21px;
position: relative;
transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
color: #fff;
background-color: #007be8;
border-color: #007be8;
padding: 6px 17px;
}

input[type=text], input[type=email], input[type=password] {
  height: 25px;
  min-height: 25px;
  padding: 0;
  margin-top: -4px;
  background: none;
  border: none;
  box-shadow: none;
}
.form-group-default {
      border: 1px solid rgb(0, 123, 232) !important;
}
.login-wrapper .login-container h1 {
  font-size: 18px !important;
}

.checkbox input[type=checkbox] {
  height: auto !important;
      width: auto !important;
      opacity: 1 !important;
}

.auth-wide  .login-container {
  width: auto !important;
}
